@import "https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css";
code,
pre {
  font-family: "Source Code Pro";
  background: #292929;
  color: #fafafa;
  font-size: 16px;
  padding: 0;
  padding: 10px; }
  code:before,
  pre:before {
    display: block;
    width: calc(100%);
    margin-left: -3px;
    margin-top: -3px;
    padding: 3px;
    text-transform: uppercase;
    content: attr(data);
    background: #9baecf; }
  code .o,
  pre .o {
    color: orange; }
  code .w,
  pre .w {
    color: white; }
