/* 

Color palette v0
-----------------
dark blue: #5B7ABA
dark blue gradient: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  );
*/
body {
  /* background-color: #ff875c; */
  background-color: #1e3c72;
  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #5b7aba;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-image: url("/assets/bridge-silhouette-blue.png");
  background-size: 100% auto;
  background-position: bottom right;
  font-family: Arial, Helvetica, sans-serif; }

.app {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  padding: 20px;
  margin: 20px;
  border: 2px solid #fff;
  border-radius: 4px; }

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

button {
  background-color: #121925;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 1rem;
  border-radius: 1rem;
  outline: none; }

button:hover {
  opacity: 0.6; }

button > img {
  height: 20px;
  margin: 0 4px;
  transform: translateY(3px); }

.logout {
  position: absolute;
  right: 40px; }

.configuration select {
  padding: 1rem; }

.login-container,
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.joint-logo {
  width: 400px; }

.funnel-step-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #fff;
  border-radius: 4px; }
