/* 

Color palette v0
-----------------
dark blue: #5B7ABA
dark blue gradient: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  );
*/
/* 

Mobile Sizes
-----------------

*/
body {
  /* background-color: #ff875c; */
  background-color: #1e3c72;
  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #5b7aba;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-image: url("/assets/bridge-silhouette-blue.png");
  background-size: 100% auto;
  background-position: bottom right;
  font-family: Arial, Helvetica, sans-serif; }

.app {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  padding: 20px;
  margin: 20px;
  border: 2px solid #fff;
  border-radius: 4px; }

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

button {
  background-color: transparent;
  border: none;
  outline: none; }

.login-button {
  background-color: #121925;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 1rem;
  border-radius: 1rem;
  outline: none; }

button:hover {
  opacity: 0.6; }

.login-button > img {
  height: 20px;
  margin: 0 4px;
  transform: translateY(3px); }

.logout {
  position: absolute;
  right: 40px; }

.menu {
  position: absolute;
  right: 40px; }

.funnel-step-container select,
.funnel-step-container input {
  padding: 1rem;
  font-size: 14px;
  margin-bottom: 1rem; }

.funnel-step-container input {
  width: calc(100% - calc(2rem + 2px)); }

.funnel-step-container select {
  width: 100%; }

.login-container,
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.joint-logo {
  width: 400px; }

.menu {
  background-color: #121925;
  border-radius: 3px; }
  .menu .menu-inner {
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 16px; }
    .menu .menu-inner button {
      display: block;
      margin-left: auto; }
      .menu .menu-inner button img {
        height: 24px; }
    .menu .menu-inner ul {
      min-width: 140px;
      padding: 1rem 0.4rem 0.4rem 0.4rem;
      list-style-type: none;
      margin: 0;
      text-decoration: none;
      text-transform: uppercase; }
      .menu .menu-inner ul :hover {
        opacity: 0.8; }
    .menu .menu-inner .menu-item-with-icon {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      .menu .menu-inner .menu-item-with-icon img {
        display: block;
        height: 16px; }

a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff; }

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-color: #fff; }

#about {
  font-size: 2rem; }
  #about h1 {
    margin: 0; }
  #about p {
    color: #a3b4d8; }
