@import "https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css";
$lightGray: #fafafa;
$medBlue: #9baecf;
$char: #292929;

code,
pre {
  font-family: "Source Code Pro";
  background: $char;
  color: $lightGray;
  font-size: 16px;
  padding: 0;
  padding: 10px;
  &:before {
    display: block;
    width: calc(100%);
    margin-left: -3px;
    margin-top: -3px;
    padding: 3px;
    text-transform: uppercase;
    content: attr(data);
    background: $medBlue;
  }
  .o {
    color: orange;
  }
  .w {
    color: white;
  }
}
